.form-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  width: 35%;
  padding: 15px;
  margin: 0 auto;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

input {
  margin-top: 12px;
  padding: 6px;
  height: 24px;
  width: 100%;
  background-color: rgba(173, 216, 230, 0.25);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.209);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: larger;
  font-weight: 400;
}

input:focus {
  border: 1px solid rgba(35, 215, 255, 0.49);
  background-color: rgba(173, 216, 230, 0.25);
}

label {
  font-weight: 600;
  font-size: larger;
  /* margin-top: 30px; */
}

select {
  margin-top: 12px;
  padding: 6px;
  height: 44px;
  width: 48px;
  background-color: rgba(173, 216, 230, 0.25);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.209);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: larger;
  font-weight: 400;
}
