.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  /* position: relative; */
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(240, 240, 240, 1);
}

.select-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 724px)  {
  .select-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.btn {
  background-color: #3b5c6d8a;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 30px;
  padding: 12px 24px;
  opacity: 0.7;
  transition: 0.3s;
}

.btn:hover {
  opacity: 1;
}

.selected {
  border: 2px solid rgb(80, 182, 255);
  opacity: 1;
}
